/* You can add global styles to this file, and also import other style files */
html{
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  min-height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.wrap{
  padding-bottom: 60px;
}

@font-face {
  font-family: StagSans-Light;
  src: url(assets/fonts/StagSans-Light.otf)
}

@font-face {
  font-family: Stag-Medium;
  src: url(assets/fonts/Stag-Medium.otf)
}


* {
  font-family: StagSans-Light;
}
